<!DOCTYPE html>
<html>
<head>
<title>Josse Contreras - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV Rocío Ormazábal"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="../static/css/stylecv.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/headshot.jpg" alt="Rocío Ormazábal" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Josse Contreras</h1>
			<h3 class="quickFade delayThree">Geofísico</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Correo: <a href="mailto:jo.contreras.r@gmail.com" target="_blank">jo.contreras.r@gmail.com</a></li>
				<li>Sitio: <a href="http://geofisicachile.cl">www.geofisicachile.cl</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Información personal</h1>
				</div>
				
				<div class="sectionContent">
					<p> Titulada de la carrera de Geofísica en la Universidad de Concepción, con una sólida formación tanto en matemáticas y  física como en  computación, aspectos fundamentales para el análisis y comprensión del sistema tierra. Manejo en diversos lenguajes de programacion (Matlab, R, Python) y variados software especializados (Ichthyop, GNOME). Areas de Interés: Oceanografía física, circulación costera e impacto antropogénico sobre áreas costeras.




</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Experiencia laboral</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Asistente de Investigación en Universidad de Concepción</h2>
					<p class="subDetails">Diciembre 2018 - Presente</p> 
					<p>Análisis de datos oceanográficos penmarcadoe en el Programa de Estudios Ecosistémicos del Golfo de Arauco.</p>
				</article>
				
				<article>
					<h2>Asistente de Investigación en COPAS Sur-Austral </h2>
					<p class="subDetails">Mayo 2019 - Noviembre 2019 </p>
					<p> Análisis de datos oceanográficos para el estudio de la circulación en la boca del Guafo, parte del proyecto Fondecyt de Iniciación 11161091 del Dr. DiegoNarvaez </p>
				</article>
				
				<article>
					<h2>Asistente de Investigación en Chilean Integrated Ocean Observing System</h2>
					<p class="subDetails">2015 - 2016</p>
					<p>Desarrollo de modelo de seguimiento de partículas en 3D, acoplado a unmodelo hidrodinámico (ROMS) para estudiar las trayectorias de derramesde petróleo en el océano.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Habilidades</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Matlab</li>
					<li>Python</li>
					<li>R</li>
					<li>Ichthyop</li>
					<li>GETM/GOTM</li>
					<li>GNOME</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Educacion</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Magister en ciencias mención Oceanografía</h2>
					<p class="subDetails">Universidad de Concepción</p>
					<p>Estudiante</p>
				</article>
				

<article>
					<h2>Diplomado en Oceanografía Observacional</h2>
					<p class="subDetails">Alfred Wegener Institute, Alemania</p>
					<p>Estudio de los patrones de distribución y áreas impactadas por heces fecales provenientes de granjas de bivalvos en la bahía de Greifswald (Alemania), por medio del uso de un modelo Euleriano.</p>
				</article>



				<article>
					<h2>Geofísica</h2>
					<p class="subDetails">Universidad de Concepción</p>
					<p>Circulación del Golfo de Arauco y patrones de dispersión y residencia de contaminantes asociados a emisarios submarinos</p>
				</article>
			</div> 
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>
