<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Piero Mardones - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="CV Piero Mardones"/>


<link type="text/css" rel="stylesheet" href="../static/css/stylecv.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="../static/img/headshot.jpg" alt="Piero Mardones" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Piero Mardones</h1>
			<h3 class="quickFade delayThree">Geofísico | MSc en Meteorología y Climatología</h3>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Correo: <a href="mailto:piero@geofisicachile.cl" target="_blank">piero@geofisicachile.cl</a></li>
				<li>Sitio: <a href="http://geofisicachile.cl">www.geofisicachile.cl</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Información personal</h1>
				</div>

				<div class="sectionContent">
					<p>Geofísico de la Universidad de Concepción especializado en Oceanografía Física y Magíster en Meteorología y Climatología de la Universidad de Chile.
						Dedicado actualmente a la investigación y consultoría ambiental en tópicos asociados al Cambio Climático, Hidrología, Meteorología y Oceanografía Física. Posee una formación sólida
						en Data Science y Machine Learning. Las principales herramientas que utiliza corresponden a los lenguajes de programación Python, MATLAB, R y Linux Bash. También se desempeña
						como desarrollador web Full Stack utilizando los lenguajes HTML, CSS, JavaScript y SQL.


					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Experiencia laboral</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Investigador proyecto PREGA</h2>
					<p class="subDetails">Septiembre 2019 - Presente</p>
					<p>Análisis de datos meteorológicos y oceanográficos del Golfo de
Arauco, en el contexto del proyecto Programa de Estudios Ecosistémicos del
Golfo de Arauco (PREGA).
					</p>
				</article>

				<article>
					<h2>Investigador asistente (CR)2</h2>
					<p class="subDetails">Marzo 2019 - Marzo 2020</p>
					<p>Cálculo del impacto hidrológico de las variaciones de la isoterma 0°C en
las cuencas andinas de Chile central. Trabajo para el Centro de Ciencia del Clima y la Resiliencia
(CR)2.</p>
				</article>

				<article>
					<h2>Personal técnico FONDECYT 1151125 y FONDECYT
1181781</h2>
					<p class="subDetails">Abril 2017 - Septiembre 2019</p>
					<p>Procesamiento y análisis de datos de espectrómetro óptico Fog Monitor. Diseño y ejecución de simulaciones con modelo climático CESM (GCM) en servidor Camanchaca (CR)2 y Leftraru (NLHPC UChile).
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Habilidades</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Matlab</li>
					<li>R</li>
				  <li>Linux Bash</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>SQL</li>

				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Educacion</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Geofísico</h2>
					<p class="subDetails">Universidad de Concepción</p>
					<p>Tesis: Observación de mareas internas semidiurnas en el cañón submarino del Biobío.</p>
				</article>

				<article>
					<h2>MSc en Meteorología y Climatología</h2>
					<p class="subDetails">Universidad de Chile</p>
					<p>Tesis: Impactos del cambio climático en la altura de la isoterma 0⁰C sobre Chile central.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
</body>
</html>
